@use './partials/typography' as *;
@use './partials/variables' as *;
@use './partials/mixins' as *;

.hero {
	width: 100vw;
	height: 50vw;

	&__overlay {
		background-image: url("./../assets/Images/hero.jpg");
		background-position: center;
		background-size: cover;
		@extend .hero;
		display: flex;
		justify-content: flex-start;
		align-items: center;
	}

	&__overlay {
		position: relative;
	}

	&__overlay::after {
		content: "";
		display: block;
		background-color: $color-black;
		opacity: 0.5;
		width: 100%;
		height: 50vw;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 0;
	}

	&__overlay > * {
		z-index: 5;
		position: relative;
	}

	&__heading {
		margin-top: 0;
		margin-bottom: 0;
		text-align: left;
		width: 70%;
		margin-left: 1rem;
		color: white;
		font-size: $header-mobile;
		font-weight: 700;

		@include tablet {
			font-size: $header-tablet;
			width: 70%;
			margin-left: 1.5rem;
		}

		@include desktop {
			width: 40%;
			margin-left: 11.25rem;
		}
	}
}

.musician {
	padding: 2rem 1rem 2.5rem;

	@include tablet {
		padding: 2rem 1.5rem 2.5rem;
	}
	@include desktop {
		margin: 2.5rem 11.25rem 2.5rem;
		padding: 0;
	}

	&__heading {
		font-size: $header-mobile;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 1.5rem;

		@include tablet {
			font-size: $second-header-tablet;
		}

		@include desktop {
			margin-top: 3rem;
			margin-bottom: 3rem;
		}
	}

	&__tablet {
		@include desktop {
			margin-left: 5.5rem;
			margin-right: 5.5rem;
		}
	}

	&__image {
		width: 90vw;
		height: 45.312vw;

		@include tablet {
			width: 93.75vw;
			height: 47.13vw;
		}

		@include desktop {
			width: 62.223vw;
			height: 31.25vw;
		}
	}

	&__quote {
		font-weight: 700;
		font-size: $sub-header-mobile;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;

		@include tablet {
			font-weight: 700;
			font-size: $third-header-tablet;
		}

		@include desktop {
			margin-top: 3rem;
			margin-bottom: 2.5rem;
		}

		p:nth-child(1) {
			@include desktop {
				padding-right: 7.188rem;
			}
		}

		p:nth-child(2) {
			margin-top: 2rem;
			margin-bottom: 2.5rem;

			@include tablet {
				font-weight: 400;
			}

			@include desktop {
				margin-top: 3.5rem;
				margin-bottom: 2rem;
			}
		}
	}

	&__info {
		font-weight: 300;
		font-size: $sub-header-mobile;

		@include tablet {
			font-size: $sub-header-tablet;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			p {
				margin-right: 1.5rem;

				@include desktop {
					margin-top: 2rem;
					margin-right: 2.5rem;
				}
			}
		}
	}
}

.gallery {
	padding: 2rem 1rem 2.5rem;

	@include tablet {
		padding: 2rem 0 2.5rem 1.5rem;
	}

	@include desktop {
		margin: 2.5rem 9.75rem 2.5rem;
		padding: 0;
	}

	&__heading {
		font-size: $header-mobile;
		margin-bottom: 1.5rem;
		margin-top: 0;

		@include tablet {
			font-size: $second-header-tablet;
			margin-bottom: 3.75rem;
		}

		@include desktop {
			margin-top: 3rem;
		}
	}

	&__items {
		@include tablet {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
	}

	&__image {
		width: 90vw;
		height: 45.312vw;
		margin-bottom: 1rem;

		@include tablet {
			width: 29.167vw;
			height: 16.408vw;
			margin-right: 1.5rem;
			margin-bottom: 1.5rem;
		}

		@include desktop {
			width: 23.889vw;
			height: 13.403vw;
			margin-right: 1.5rem;
			margin-bottom: 1.5rem;
		}
	}
}

.form {
	&__heading {
		font-size: $header-mobile;
		margin-bottom: 2.5rem;
		margin-top: 0;

		@include tablet {
			font-size: $second-header-tablet;
		}
		@include desktop {
			margin: 0 9.25rem 2.5rem;
		}
	}
	&__mobile {
		display: flex;
		justify-content: flex-start;
		@include tablet {
			margin-left: 90px;
			margin-right: 90px;
		}
		@include desktop {
			margin-left: 276px;
			margin-right: 276px;
			justify-content: flex-start;
		}
	}
	&__container {
		margin-left: 10px;
		@include tablet {
			margin-left: 0;
		}
	}

	&__image {
		margin-top: 25px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		@include tablet {
			margin-right: 16px;
			margin-top: 28px;
			width: 45px;
			height: 42px;
		}
		@include tablet {
			margin-right: 16px;
			margin-top: 28px;
			width: 50px;
			height: 50px;
		}
	}
	&__name {
		width: 230px;
		display: flex;
		flex-direction: column;
		@include tablet {
			width: 350px;
		}
	}
	&__input {
		color: $color-black;
		margin-bottom: 0.4rem;
		outline: none;
		height: 40px;
		width: 224px;

		@include tablet {
			height: 40px;
			width: 466px;
		}
		@include desktop {
			width: 780.88px;
			height: 48px;
			margin-bottom: 1.5rem;
		}
		&:focus {
			padding: 0;
			border: 2px solid black;
			border-radius: 4px;
		}
	}

	&__label {
		color: $color-silver;
		margin-bottom: 0.4rem;
		font-weight: 600;
	}

	&__comments {
		width: 224px;
		display: flex;
		flex-direction: column;
		margin-top: 1rem;
	}
	&__textarea {
		width: 224px;
		height: 80px;
		border-radius: 4px;
		outline: none;
		font-family: "Avenir";
		@include tablet {
			width: 468px;
			outline: none;
		}
		@include desktop {
			height: 96px;
			outline: none;
			width: 780.88px;
		}
		&:focus {
			padding: 0;
			color: black;
			border: 2px solid black;
			border-radius: 4px;
		}
	}

	&__submit {
		@include tablet {
			width: 474px;
			text-align: right;
		}
	}
	&__button {
		width: 230px;
		margin-top: 1rem;
		background-color: $color-black;
		color: $color-white;
		border-radius: 4px;
		padding: 15px 50px;
		border: none;
		font-size: $text-mobile;
		font-weight: 600;
		outline: none;

		@include tablet {
			padding: 0.625rem 0.625rem;
			width: 160px;
			display: block;
			margin-left: 315px;
			height: 48px;
		}

		@include desktop {
			margin-right: 0;
			margin-left: 630px;
			display: inline-block;
			margin-bottom: 1.5rem;
			margin-top: 1.5rem;
		}
	}
}
section {
	padding-left: 1rem;
	padding-right: 1rem;
	margin-top: 16x;
	margin-bottom: 16px;

	@include tablet {
		margin-top: 32x;
		margin-bottom: 32px;
	}
	@include desktop {
		margin-top: 48px;
		margin-bottom: 40px;
	}
}

.comments {
	width: 100%;
	@include tablet {
		width: 75.5%;
		margin-left: 90px;
		margin-right: 90px;
	}
	@include desktop {
		width: 61%;
		margin-left: 276px;
		margin-right: 276px;
	}
	&__list {
		list-style-type: none;
		padding: 0;
		border-bottom: 1px solid #e1e1e1;
	}
	&__li {
		margin-left: 0;
		display: flex;
	}

	&__image {
		margin-top: 18px;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		display: inline-block;
	}
	&__container {
		margin-left: 10px;
	}
	&__top {
		display: flex;
		justify-content: space-between;
		@include tablet {
			justify-content: flex-start;
		}
	}
	&__user {
		font-weight: 600;
	}
	&__date {
		color: $color-silver;
		@include tablet {
			margin-left: 10px;
		}
	}
	&__comment {
		margin-top: 0;
	}
}
