$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

$big-header: 1.5rem;
$medium-header: 0.875rem;
$small-header: 0.813rem;
$tiny-header: 0.75rem;

$paragraph_-text: 0.813rem;
$lists-text: 0.813rem;
$contact-text: 0.813rem;
