@use './typography' as *;
@use './variables' as *;
@use './mixins' as *;

body {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Avenir Next", "sans-serif";
}

ul {
	list-style-type: none;
	padding: 0;
}

a {
	color: #fff;
	text-decoration: none;
}

.header {
	

	&__menu {
		background-color: #323232;
		color: #fff;

		@include tablet{
			width: 100%;
			height: 80px;
			display: flex;
			align-items: center;

		}
	}

	&__logo {
		text-align: center;
		padding-top: 1rem;
		height: 40px;
		display: flex;
		font-size: 1.5rem;
		align-items: center;
		justify-content: center;
		text-transform: uppercase;

		@include tablet{
			text-align: left;
			padding-top: 0;
			margin-left: 1.5rem;
			font-size: 1.5rem;
			align-items: center;
			justify-content: flex-start;
		
		}
	}

	&__list {
		height: 40px;
		width: 100%;

		@include tablet{
			display: flex;
			justify-content: flex-start;
			margin-left: 3.5rem;
			align-items: center	;
			
		}

		
	}

	&__links {
		display: flex;
		justify-content: space-around;
		font-size: 1.5rem;
		width: 100%;
		margin-top: 1rem;

		@include tablet{
			width: 50%;
			justify-content: center;
			
		}
	}

	&__link {
		width: 50%;
		text-align: center;
		padding-bottom: 0.5rem;

		@include tablet{
			display: inline-block;
			align-items: center;
			margin-right: 3.5rem;
			padding-bottom: 1.5rem;
			margin-top: 2rem ;
			
			
		}
	}

	&__link--style {
		border-bottom: 5px solid white;

		
	}
}

.hero {
	width: 100vw;
	height: 50vw;

	@include tablet {
		width: 100vw;
		height: 50vw;
	}

	&__image {
		background-image: url("../../assets/Images/hero.jpg");
		background-position: center;
		background-size: cover;
		width: 100vw;
		height: 50vw;

		@include tablet {
			width: 100%;
			height: 50vw;
		}
	}

	&__overlay {
		background-color: rgba(50, 50, 50, 0.5);
		width: 100%;
		height: 100%;
		display: flex;
		justify-content: flex-start;
		align-items: center;
		
		
	}

	&__heading {
		margin-top: 0;
		margin-bottom: 0;
		text-align: left;
		width: 60%;
		margin-left: 1rem;
		color: white;
		font-size: 1.5rem;
		font-weight: 600;
		@include tablet{
			font-size: 3.75rem;
			width: 70%;
			margin-left: 1.5rem;
		}
	}
}

.musician {
	padding: 2rem 1rem 2.5rem;
	@include tablet{
		padding: 2rem 1.5rem 2.5rem;
	}

	&__heading {
		font-size: 1.5rem;
		font-weight: 700;
		margin-top: 0;
		margin-bottom: 1.5rem;

			@include tablet{
				font-size: 2.25rem;
			}
		
	}
	
	&__image {
		width: 288px;
		height: 145px;
		

		@include tablet {
			width: 720px;
			height: 362px;
			
		}
	}

	&__quote {
		font-weight: 700;
		font-size: 0.875rem;
		margin-top: 1.5rem;
		margin-bottom: 1.5rem;

		@include tablet {
			font-weight: 700;
			font-size: 1.5rem;
		}

		p:nth-child(2){
			margin-top: 2rem;
			margin-bottom: 2.5rem;
			@include tablet{
				font-weight: 400;
			}
		}
	}

	&__info {
		font-weight: 300;
		font-size: 0.875rem;

		@include tablet {
			font-size: 1rem;
			display: flex;
			flex-direction: row;
			justify-content: space-between;

			p {
				margin-right: 1.5rem;
			}
		}
	}
}

.gallery {
	padding: 2rem 1rem 2.5rem;


	@include tablet{
		padding: 2rem 0  2.5rem 1.5rem;
	}

	&__heading {
		font-size: 1.5rem;
		margin-bottom: 1.5rem;
		margin-top: 0;

		@include tablet {
			font-size: 2.25rem;
			margin-bottom: 60px;
		}
	}

	&__items {
		@include tablet {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
		}
	}

	&__image {
		width: 288px;
		height: 145px;
		margin-bottom: 1rem;
		
		@include tablet{
			width: 224px;
			height: 126px;
			margin-right: 1.5rem;
			margin-bottom: 1.5rem;
		

		}	
		
	}
}

.footer {
	padding: 2rem 1rem;
	background-color: #323232;
	color: #fff;
	display: flex;
	flex-direction: column;
	align-items: flex-start;

	@include tablet {
		padding: 2rem 1.5rem;
		
	}

	&__heading{
		@include tablet{
		font-size: 24px;
		width: 224px;
		display: flex;
		justify-content: flex-start;
	   }
	}

	&__tablet{
		
		@include tablet{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
		}
	}

		&__icons {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 30%;
			margin-bottom: 1rem;
			margin-top: 1rem;

			@include tablet{
				display: flex;
				flex-direction: row;
				justify-content: flex-end;
				align-items: center;
			}
		}

		&__icon{
			margin-right: 2.5rem;
		}

		&__logo{
			display: none;
			
		
			@include tablet{
				display: flex;
				font-size: 1.5rem;
				justify-content: flex-end;
				margin-left: 120px;
			}
		}

		&__labels {
			display: flex;
			flex-direction: column;
			margin-top: 1rem;
			margin-bottom: 1rem;
			

			@include tablet{
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				width: 100%;
				
				
				
			}
		}

		&__label{
			display: flex;
			flex-direction: column;

			@include tablet{
				
				width: 224px;
				display: flex;
				align-items: space-between;
				box-sizing: border-box;
			}

				h4, p{
					line-height: 0.312rem;
					font-size: 0.75rem;

					@include tablet{
						line-height: 0.375rem;
						font-size: 0.875rem;
					}
				}

			

		}

		&__copyright{
				line-height: 0.312rem;
				font-size: 0.75rem;;

				@include tablet{
						line-height: 0.375rem;
						font-size: 0.875rem;
						display: flex;
						flex-direction: row;

				}
		}
	}

