@font-face {
	font-family: "Avenir Next";
	src: url("./../../assets/_GlobalFont/Fonts/AvenirNextLTPro-Bold.otf")
		format("opentype");
	font-style: normal;
	font-weight: 700;
}

@font-face {
	font-family: "Avenir Next";
	src: url("./../../assets/_GlobalFont/Fonts/AvenirNextLTPro-Demi.otf")
		format("opentype");
	font-style: normal;
	font-weight: 600;
}

@font-face {
	font-family: "Avenir Next";
	src: url("./../../assets/_GlobalFont/Fonts/AvenirNextLTPro-Regular.otf")
		format("opentype");
	font-style: normal;
	font-weight: 400;
}
